@tailwind base;
@tailwind components;
@tailwind utilities;


.checkbox-wrapper-56 *,
.checkbox-wrapper-56 ::after,
.checkbox-wrapper-56 ::before {
    box-sizing: border-box;
}

.checkbox-wrapper-56 .container input {
    opacity: 1;
    -webkit-appearance: none;
    cursor: pointer;
    height: 35px;
    width: 35px;
    box-shadow: -10px -10px 15px #17A600,
        10px 10px 15px #17A600;
    border-radius: 50%;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    background-color: #17A600;
}

.checkbox-wrapper-56 .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox-wrapper-56 .container input::after {
    transition: .5s;
    font-family: monospace;
    content: '';
    color: #7a7a7a;
    font-size: 25px;
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid #7a7a7a;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
}

.checkbox-wrapper-56 .container input:checked {
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
        10px 10px 15px rgba(70, 70, 70, 0.12),
        inset -10px -10px 15px rgba(255, 255, 255, 0.5),
        inset 10px 10px 15px rgba(70, 70, 70, 0.12);
    transition: .5s;
}

.checkbox-wrapper-56 .container input:checked::after {
    transition: .5s;
    border: solid #FFFFFF;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
}